<div class="container ">
    <div class="row">
        <div class="container ">
            <div class="col-md-12 col-lg-12 col-sm-12 ">
                <p class=" pt-4" style="margin-left: 35%;font-size: 50px; ">How it <a style="color: green;">Works?</a>
                </p>

                <span class="float-left">
                    <p class="desc" style="margin-left: 15%;">Get your developers onboard, very quickly. Learn how to
                        incorporate your KONG APIs in
                        just
                        few easy steps.</p>
                </span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 ">
                <div class="row pt-3 ">
                    <div class="col-md-2 col-lg-1 col-sm-2">
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2">

                        <div class="circle  mx-3">
                            <span>1</span>



                        </div>
                        <div class="pt-2 " >
                            <a (click)="signin()">Sign in devportal</a>
                        </div>



                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2" style="text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-chevron-double-right  " style=" margin-top: 20%;" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd"
                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>

                    <div class="col-md-4 col-lg-2 col-sm-4">
                        <div class="circle mx-4">
                            <span>2</span>
                        </div>

                        <div class="pt-2 " style="text-align: center;">
                            <a (click)="exploreapi()">Explore APIs</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2" style="text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-chevron-double-right" style=" margin-top: 20%;" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd"
                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-4">
                        <div class="circle mx-5 ">
                            <span>3</span>


                        </div>
                        <div class="pt-2 " style="text-align: center;">
                            <p class="mx-2">Try it out</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-1 col-sm-2">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 mx-3 ">
            <div class="row pt-5">
                <h1 class="journey"> Journey To <b>go live </b></h1>

                <div class="col-md-2 col-lg-3 col-sm-2 pt-4 mx-3">

                    <div class="pt-5 mx-4">
                        <span>
                            <img src="assets/group-12.svg" alt="No Image Found">
                        </span>
                        <div class="pt-4 " style="text-align: center;">
                            <h4 >Sandbox</h4>
                        </div>



                    </div>


                </div>
                <div class="col-md-2 col-lg-1 col-sm-2 pt-5" style="text-align: center;">
                    <span class="pt-4">
                        <img src="assets/nextarrows.svg" class="nxt-img" alt="No Image Found">
                    </span>
                    
                </div>
                <div class="col-md-2 col-lg-3 col-sm-2 pt-4">

                    <div class="pt-5">
                        <span>
                            <img src="assets/group-28.svg" alt="No Image Found">
                        </span>
                        <div class="pt-4 " style="text-align: center;">
                            <h4 class="mx-2">UAT</h4>
                        </div>


                    </div>


                </div>
                <div class="col-md-2 col-lg-1 col-sm-2 pt-5" style="text-align: center;">
                    <span class="pt-4">
                        <img src="assets/nextarrows.svg" class="nxt-img" alt="No Image Found">
                    </span>
                    
                </div>

                <div class="col-md-2 col-lg-3 col-sm-2 pt-4">

                    <div class="pt-5">
                        <span>
                            <img src="assets/group-13.svg" alt="No Image Found">
                        </span>

                        <div class="pt-4 " style="text-align: center;">
                            <h4 class="mx-2">Production</h4>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>